.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

input[type="text"] {
  width: 300px;
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 5px 10px;
  font-size: 16px;
}

#resultsContainer {
  margin-top: 20px;
}

.result {
  text-align: center;
  margin-bottom: 10px;
}

.result a {

  font-weight: bold;
}

.result p {
  margin-top: 5px;
}