.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

label {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

#summaries{
  margin-left: 10px;
}

input[type="text"] {
  width: 300px;
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 5px 10px;
  font-size: 16px;
}

#time{
  text-align: center;
}

#resultsContainer {
  margin-top: 20px;
}

.result {
  text-align: center;
  margin-bottom: 10px;
}

.result a {

  font-weight: bold;
}

.result p {
  margin-top: 5px;
}

.summariesContainer{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}